<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
<div id="app">
    <div v-if="this.books.length">
        <table>
            <tr>
                <th>序号</th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            <tr v-for="(book,index) in books">
                <th>{{(index + 1)}}</th>
                <th>{{book.name}}</th>
                <th>{{book.date}}</th>
                <th>{{numFilter(book.price)}}</th>
                <th>
                    <button @click="sub(index)" v-bind:disabled="book.count <= 1" key="index">-</button>
                    {{book.count}}
                    <button @click="add(index)">+</button>
                </th>
                <th>
                    <button @click="remove(index)">移除</button>
                </th>
            </tr>
        </table>
        <div>总价：{{numFilter(getAmount())}}</div>
    </div>
    <div v-else><h2>购物车为空</h2></div>
</div>
<script src="../js/vue.js"></script>
<script src="main.js"></script>
</body>
</html>